<!-- <footer class="js-footer custom-footer bg-black pt-12 pb-48 text-white <% if (page.layout == 'v1') { %>bg-black<% } %>"> -->
<!--     <div class="max-w-screen-2xl mx-auto px-8 lg:px-20 mt-12"> -->
<!--         <div class="flex flex-col lg:flex-row lg:justify-between"> -->
<!--             <h3 class="font-display font-normal text-4xl xl:text-5xl 2xl:text-6xl"><%- __('site.footer.title') %></h3> -->
<!--             <div class="lg:flex lg:items-center"> -->
<!--                 <div class="flex items-center mt-8 lg:mt-0"> -->
<!--                     <a style="border:1px solid white;border-radius: 4px;" href="<%- get_build_url('official', 'APPSTORE') %>" id="official:ios" class="mr-6 app-download"><%- image_tag("/img/app-store.svg") %></a> -->
<!--                     <a style="border:1px solid white;border-radius: 4px;" href="<%- get_build_url('official', 'PLAYSTORE') %>" id="official:apk" class="mr-6 app-download"><%- image_tag("/img/google-play.svg") %></a> -->
<!--                     <a style="border:1px solid white;border-radius: 4px;" href="<%- get_build_url('official', 'DIRECT_APK') %>" id="official:apk" class="mr-6 app-download"><%- image_tag("/img/apk.svg") %></a> -->
<!--                     <a style="border:1px solid white;border-radius: 4px;" href="<%- get_build_url('official', 'F_DROID') %>" id="official:fdroid" class="mr-8 app-download"><%- image_tag("/img/fdroid.svg") %></a> -->
<!--                 </div> -->
<!--                 <a href="<%- show_lang() %>/get-involved/" class="mt-8 py-3 px-4 border flex items-center justify-between lg:mt-0 border-white hover:bg-white hover:text-black rounded font-special font-medium"> -->
<!--                   <%- __('site.link.get-involved') %> -->
<!--                   <span class="ml-20"><%- image_tag('/img/icon-arrow-right.svg') %></span> -->
<!--                 </a> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
<!--     <div class="max-w-screen-2xl mx-auto px-8 lg:px-20 mt-24 xl:mt-40 navigation"> -->
<!--         <div class="grid md:grid-cols-4 md:gap-12"> -->
<!--             <div class="border-t border-gray-800 py-8 lg:pb-0 lg:pt-12"> -->
<!--                  -->
<!--                 <h5 class="uppercase font-special tracking-widest text-lg text-gray-600"> -->
<!--                   <a data-toggle="collapse" class="js-collapse-trigger custom-accordion-trigger flex items-center justify-between" href="#footer-nav-1" role="button" aria-expanded="true" aria-controls="footer-nav-1"> -->
<!--                     <%- __('site.footer.product.title') %> -->
<!--                     <span class="custom-accordion-arrow transform transition-all -rotate-90 duration-200 linear lg:hidden ml-4 text-gray-100"><%- image_tag('/img/icon-arrow-right.svg') %></span> -->
<!--                   </a> -->
<!--                 </h5> -->
<!--                 <div class="js-collapse custom-accordion" id="footer-nav-1"> -->
<!--                     <ul class="text-lg font-body text-gray-200"> -->
<!--                         <li class="mt-4"><a class="hover:text-white" href="<%- show_lang() %>/features/"><%- __('site.header.nav.features.title') %></a></li> -->
<!--                         <li class="mt-4"><a class="hover:text-white" href="<%- show_lang() %>/security/"><%- __('site.header.nav.security') %></a></li> -->
<!--                         <li class="mt-4"><a class="hover:text-white" href="<%- show_lang() %>/get/"><%- __('site.footer.product.apps') %></a></li> -->
<!--                         <li class="mt-4"><a class="hover:text-white" href="<%- show_lang() %>/nightly/"><%- __('site.footer.product.nightly') %></a></li> -->
<!--                     </ul> -->
<!--                 </div> -->
<!--             </div> -->
<!--             <div class="border-t border-gray-800 py-8 lg:pb-0 lg:pt-12"> -->
<!--                  -->
<!--                 <h5 class="uppercase font-special tracking-widest text-lg text-gray-600"> -->
<!--                   <a data-toggle="collapse" class="js-collapse-trigger custom-accordion-trigger flex items-center justify-between" href="#footer-nav-2" role="button" aria-expanded="true" aria-controls="footer-nav-2"> -->
<!--                     <%- __('site.footer.status.title') %> -->
<!--                     <span class="custom-accordion-arrow transform transition-all -rotate-90 duration-200 linear lg:hidden ml-4 text-gray-100"><%- image_tag('/img/icon-arrow-right.svg') %></span> -->
<!--                   </a> -->
<!--                 </h5> -->
<!--                 <div class="js-collapse custom-accordion" id="footer-nav-2"> -->
<!--                     <ul class="text-lg font-body text-gray-200"> -->
<!--                         <li class="mt-4"><a href="<%- show_lang() %>/get-involved/"><%- __('site.link.get-involved') %></a></li> -->
<!--                         <li class="mt-4"><a href="<%- show_lang() %>/about/"><%- __('site.header.nav.about') %></a></li> -->
<!--                         <li class="mt-4"><a href="http://statusnetwork.com/press-kit/status/" target="_blank"><%- __('site.footer.status.media-kit') %></a></li> -->
<!--                         <li class="mt-4"><a href="https://our.status.im/"><%- __('site.header.nav.blog') %></a></li> -->
<!--                         <li class="mt-4"><a href="/files/whitepaper.pdf" target="_blank"><%- __('site.footer.status.white-paper') %></a></li> -->
<!--                         <li class="mt-4"><a href="https://analytics.status.im/" target="_blank"><%- __('site.footer.status.analytics') %></a></li> -->
<!--                         <li class="mt-4"><a href="/our_team/jobs.html" target="_blank"><%- __('site.footer.status.jobs') %></a></li> -->
<!--                     </ul> -->
<!--                 </div> -->
<!--             </div> -->
<!--             <div class="border-t border-gray-800 py-8 lg:pb-0 lg:pt-12"> -->
<!--                  -->
<!--                 <h5 class="uppercase font-special tracking-widest text-lg text-gray-600"> -->
<!--                   <a data-toggle="collapse" class="js-collapse-trigger custom-accordion-trigger flex items-center justify-between" href="#footer-nav-3" role="button" aria-expanded="true" aria-controls="footer-nav-3"> -->
<!--                     <%- __('site.footer.documentation.title') %> -->
<!--                     <span class="custom-accordion-arrow transform transition-all -rotate-90 duration-200 linear lg:hidden ml-4 text-gray-100"><%- image_tag('/img/icon-arrow-right.svg') %></span> -->
<!--                   </a> -->
<!--                 </h5> -->
<!--                 <div class="js-collapse custom-accordion" id="footer-nav-3"> -->
<!--                     <ul class="text-lg font-body text-gray-200"> -->
<!--                         <li class="mt-4"><a href="<%- show_lang() %>/docs/"><%- __('site.header.nav.docs.link') %></a></li> -->
<!--                         <li class="mt-4"><a href="<%- show_lang() %>/developer_tools/"><%- __('site.header.nav.docs.link-1') %></a></li> -->
<!--                         <li class="mt-4"><a href="<%- show_lang() %>/technical/"><%- __('site.header.nav.docs.link-2') %></a></li> -->
<!--                         <li class="mt-4"><a href="https://tutorials.statusnetwork.com/"><%- __('site.header.nav.docs.link-3') %></a></li> -->
<!--                         <li class="mt-4"><a href="https://specs.status.im/"><%- __('site.header.nav.docs.link-5') %></a></li> -->
<!--                         <li class="mt-4"><a href="<%- show_lang() %>/faq/">FAQs</a></li> -->
<!--                     </ul> -->
<!--                 </div> -->
<!--             </div> -->
<!--             <div class="border-t border-gray-800 py-8 lg:pb-0 lg:pt-12"> -->
<!--                  -->
<!--                 <h5 class="uppercase font-special tracking-widest text-lg text-gray-600"> -->
<!--                   <div class="lg:flex lg:items-center"> -->
<!--                       <a data-toggle="collapse" class="js-collapse-trigger custom-accordion-trigger flex items-center justify-between" href="#footer-nav-4" role="button" aria-expanded="true" aria-controls="footer-nav-4"> -->
<!--                           <%- __('site.footer.status-network.title') %> -->
<!--                           <span class="custom-accordion-arrow transform transition-all -rotate-90 duration-200 linear lg:hidden ml-4 text-gray-100"><%- image_tag('/img/icon-arrow-right.svg') %></span> -->
<!--                       </a> -->
<!--                       <a href="https://statusnetwork.com/" target="_blank" class="hidden lg:block ml-4 flex-shrink-0 -mt-2"><%- image_tag("/img/footer-status-network-logo.svg") %></a> -->
<!--                     </div> -->
<!--                 </h5> -->
<!--                 <div class="js-collapse custom-accordion" id="footer-nav-4"> -->
<!--                     <ul class="text-lg font-body text-gray-200"> -->
<!--                         <li class="mt-4"><a href="https://keycard.tech/" target="_blank"><%- __('site.footer.status-network.keycard') %></a></li> -->
<!--                         <li class="mt-4"><a href="https://assemble.fund/" target="_blank"><%- __('site.footer.status-network.assemble') %></a></li> -->
<!--                         <li class="mt-4"><a href="https://embark.status.im/" target="_blank"><%- __('site.footer.status-network.embark') %></a></li> -->
<!--                         <li class="mt-4"><a href="https://subspace.status.im/" target="_blank"><%- __('site.footer.status-network.subspace') %></a></li> -->
<!--                         <li class="mt-4"><a href="https://vac.dev/" target="_blank"><%- __('site.footer.status-network.vac') %></a></li> -->
<!--                         <li class="mt-4"><a href="https://nimbus.team/" target="_blank"><%- __('site.footer.status-network.nimbus') %></a></li> -->
<!--                     </ul> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
<!--     <div> -->
<!--         <div class="max-w-screen-2xl mx-auto px-8 lg:px-20 mt-16 lg:mt-40"> -->
<!--             <h5 class="font-special uppercase tracking-widest text-lg"><%- __('site.footer.connect') %></h5> -->
<!--             <ul class="flex flex-wrap items-center -ml-8 mt-4"> -->
<!--                 <li class="ml-8 mt-8"> -->
<!--                     <a href="https://join.status.im/chat/public/status" target="_blank"> -->
<!--                        <%- image_tag("/img/status-footer-logo.svg") %> -->
<!--                     </a> -->
<!--                 </li> -->
<!--                 <li class="ml-8 mt-8"> -->
<!--                     <a class="hover:text-white" href="<%= config.discord_url %>" target="_blank"> -->
<!--                         <%- image_tag("/img/discord-footer-logo.svg") %> -->
<!--                     </a> -->
<!--                 </li> -->
<!--                 <li class="ml-8 mt-8"> -->
<!--                     <a class="hover:text-white" href="https://www.facebook.com/ethstatus" target="_blank"> -->
<!--                         <%- image_tag("/img/facebook-footer-logo.svg") %> -->
<!--                     </a> -->
<!--                 </li> -->
<!--                 <li class="ml-8 mt-8"> -->
<!--                     <a class="hover:text-white" href="https://twitter.com/ethstatus" target="_blank"> -->
<!--                         <%- image_tag("/img/twitter-footer-logo.svg") %> -->
<!--                     </a> -->
<!--                 </li> -->
<!--                 <li class="ml-8 mt-8"> -->
<!--                     <a class="hover:text-white" href="https://discuss.status.im/" target="_blank"> -->
<!--                         <%- image_tag("/img/discuss-footer-logo.svg") %> -->
<!--                     </a> -->
<!--                 </li> -->
<!--                 <li class="ml-8 mt-8"> -->
<!--                     <a class="hover:text-white" href="https://github.com/status-im" target="_blank"> -->
<!--                         <%- image_tag("/img/github-footer-logo.svg") %> -->
<!--                     </a> -->
<!--                 </li> -->
<!--                 <li class="ml-8 mt-8"> -->
<!--                     <a class="hover:text-white" href="https://www.reddit.com/r/statusim/" target="_blank"> -->
<!--                         <%- image_tag("/img/reddit-footer-logo.svg") %> -->
<!--                     </a> -->
<!--                 </li> -->
<!--                 <li class="ml-8 mt-8"> -->
<!--                     <a class="hover:text-white" href="https://www.youtube.com/statusim" target="_blank"> -->
<!--                         <%- image_tag("/img/youtube-footer-logo.svg") %> -->
<!--                     </a> -->
<!--                 </li> -->
<!--                 <li class="ml-8 mt-8"> -->
<!--                     <a class="hover:text-white" href="https://www.instagram.com/status.im/" target="_blank"> -->
<!--                         <%- image_tag("/img/instagram-footer-logo.svg") %> -->
<!--                     </a> -->
<!--                 </li> -->
<!--                 <li class="ml-8 mt-8"> -->
<!--                     <a class="hover:text-white" href="https://weibo.com/u/3928626105" target="_blank"> -->
<!--                         <%- image_tag("/img/weibo-footer-logo.svg") %> -->
<!--                     </a> -->
<!--                 </li> -->
<!--             </ul> -->
<!--         </div> -->
<!--     </div> -->
<!--     <div class="max-w-screen-2xl mx-auto px-8 lg:px-20 text-lg mt-24 lg:mt-40"> -->
<!--         <div class="flex flex-col lg:flex-row lg:justify-between text-gray-400 font-body"> -->
<!--             <div> -->
<!--                 <div class="flex items-center"> -->
<!--                     <a href="<%- show_lang() %>/privacy-policy/"><%- __('site.footer.privacy-policy.title') %></a> -->
<!--                     <a href="<%- show_lang() %>/terms-of-use/" class="ml-24"><%- __('site.footer.terms-of-use') %></a> -->
<!--                     <a href="https://our.status.im/implementing-fathom-analytics-on-marketing-websites/" class="ml-24"><%- __('site.footer.site-analytics') %></a> -->
<!--                 </div> -->
<!--                 <p class="text-gray-600 mt-4"><%- __('site.footer.privacy-policy.description') %></p> -->
<!--             </div> -->
<!--             <p class="mt-8 lg:mt-0"> -->
<!--                 <a href="https://messari.io/asset/status/" target="_blank" class="flex items-center"> -->
<!--                     <%- __('site.footer.messari') %>  -->
<!--                     <svg width="34" height="39" viewBox="0 0 34 39" fill="none" xmlns="http://www.w3.org/2000/svg" class="ml-4"> -->
<!--                     <path fill-rule="evenodd" clip-rule="evenodd" d="M1.619 6.78163L16.354 0.130678C16.7424 -0.04464 17.1887 -0.0435034 17.5762 0.133791L32.0108 6.73815C32.4435 6.93613 32.7519 7.33018 32.8377 7.79455C34.0223 14.2086 33.5242 20.161 31.3434 25.6518C29.0785 31.3543 24.3727 35.4913 17.226 38.0626C9.87383 36.2554 4.90753 31.9102 2.32714 25.0269C-0.145514 18.431 -0.647719 12.6534 0.82053 7.69391C0.940286 7.2894 1.2317 6.95644 1.619 6.78163ZM20.1354 10.4413L16.0844 14.5553L14.5369 13.0577C14.1926 12.7246 13.6316 12.7218 13.2837 13.0515C12.9359 13.3813 12.933 13.9187 13.2773 14.2519L15.47 16.3738C15.8226 16.7151 16.4004 16.7084 16.7444 16.3591L21.4247 11.606C21.7605 11.265 21.7441 10.7278 21.3881 10.4062C21.032 10.0845 20.4712 10.1002 20.1354 10.4413ZM23.432 15.4245C23.432 15.3277 23.393 15.2349 23.3236 15.1667C23.1799 15.0257 22.9479 15.0267 22.8055 15.1691L20.0205 17.9523C19.9525 18.0203 19.9144 18.1121 19.9144 18.2077V26.9774C19.9144 27.0655 19.9467 27.1506 20.0054 27.2167C20.1388 27.3674 20.3703 27.3823 20.5223 27.2501L23.3073 24.8297C23.3866 24.7608 23.432 24.6614 23.432 24.5569V15.4245ZM16.9686 20.9306C16.8355 21.0433 16.6405 21.0469 16.5032 20.9392L15.6375 20.2602C15.5728 20.2094 15.4927 20.1818 15.4101 20.1818C15.2078 20.1818 15.0438 20.3442 15.0438 20.5446V26.9781C15.0438 27.0666 15.0764 27.152 15.1355 27.2183C15.2694 27.3685 15.5009 27.3827 15.6525 27.2501L18.4375 24.815C18.5163 24.7461 18.5614 24.647 18.5614 24.543V20.3701C18.5614 20.2837 18.5303 20.2001 18.4736 20.1344C18.3422 19.982 18.111 19.964 17.9571 20.0942L16.9686 20.9306ZM10.4437 15.4237V26.9822C10.4437 27.1826 10.6078 27.345 10.8101 27.345C10.8943 27.345 10.976 27.3163 11.0414 27.2636L13.8264 25.0175C13.9118 24.9486 13.9614 24.8452 13.9614 24.7361V18.19C13.9614 18.0939 13.923 18.0018 13.8545 17.9338L11.0695 15.1675C10.9266 15.0256 10.6947 15.0253 10.5514 15.1668C10.4825 15.2349 10.4437 15.3273 10.4437 15.4237Z" fill="#808080"/> -->
<!--                     </svg> -->
<!--                 </a> -->
<!--             </p> -->
<!--         </div> -->
<!--     </div> -->
<!-- </footer> -->
