<header id="header" class="flex items-center relative justify-between px-8 xl:px-20 py-6 xl:py-0 js-header z-50">
    <a href="<%- show_lang() %>/" class="logo w-32 xl:w-48 flex-shrink-0"><%- image_tag("img/logo.svg") %></a>
    <nav class="js-nav overflow-auto xl:overflow-visible font-display xl:ml-20">
        <ul class="flex flex-col xl:flex-row xl:items-center text-xl xl:text-xl font-display">
            <li class="hover:text-primary-base py-4 border-t border-gray-100 md:text-lg 2xl:text-xl xl:border-t-0 xl:px-4 2xl:px-8 xl:py-16 <% if(is_current('Features')) { %>active<% } %>"><a href="<%- show_lang() %>/private-messenger/" class="hover:text-primary-base text-gray-800 font-medium inline-flex items-center"><%- __('site.header.nav.features.link') %></a></li>
            <li class="hover:text-primary-base py-4 border-t border-gray-100 md:text-lg 2xl:text-xl xl:border-t-0 xl:px-4 2xl:px-8 xl:py-16 <% if(is_current('security')) { %>active<% } %>"><a href="<%- show_lang() %>/security/" class="hover:text-primary-base text-gray-800 font-medium inline-flex items-center"><%- __('site.header.nav.security') %></a></li>
            <li class="hover:text-primary-base py-4 border-t border-gray-100 md:text-lg 2xl:text-xl xl:border-t-0 xl:px-4 2xl:px-8 xl:py-16 <% if(is_current('about')) { %>active<% } %>"><a href="<%- show_lang() %>/about/" class="text-gray-800 hover:text-primary-base font-medium inline-flex items-center"><%- __('site.header.nav.about') %></a></li>
        </ul>
    </nav>
    <div class="flex flex-col xl:flex-row xl:items-center language-option js-btns">
        <a href="<%- show_lang() %>/get/" class="order-2 flex justify-between md:order-none border transition-all duration-200 linear font-special font-bold transition-all linear rounded py-4 px-5 inline-flex text-black mt-8 xl:mt-0 font-special font-bold border-gray-100 hover:bg-black hover:text-white md:text-lg 2xl:text-xl md:text-lg 2xl:text-xl xl:ml-8" style="min-width: 170px;">
          <%- __('site.link.get-status') %>
          <span class="pr-4 group-hover:translate-x-1 transform transition-all my-auto duration-100 linear">
            <svg width="6" height="13" viewBox="0 0 6 13" xmlns="http://www.w3.org/2000/svg">
              <path opacity="1" fill-rule="evenodd" clip-rule="evenodd" d="M4.001 6.00098L0 12.001H2L6.001 6.00098L2 -2.38419e-05H0L4.001 6.00098Z" fill="currentColor"/>
            </svg>
          </span>
        </a>
    </div>
    <a href="#" class="xl:hidden js-mobile-nav-trigger">
        <svg width="22" height="8" viewBox="0 0 22 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="xl:hidden"> <rect width="22" height="1" rx="0.5" fill="#090909"/> <rect y="7" width="22" height="1" rx="0.5" fill="#090909"/> </svg>
        <a href="<%- show_lang() %>/get/" class="flex absolute xl:hidden border transition-all duration-200 linear text-black border-gray-100 hover:bg-black hover:text-white transition-all linear rounded py-4 px-5 inline-flex font-special font-bold md:text-lg 2xl:text-xl" style="right: 65px; min-width: 130px; width: fit-content;">
          <%- __('site.link.get-status') %>
          <span class="ml-4 group-hover:translate-x-1 transform transition-all my-auto duration-200 linear">
            <svg width="6" height="13" viewBox="0 0 6 13" xmlns="http://www.w3.org/2000/svg">
              <path opacity="1" fill-rule="evenodd" clip-rule="evenodd" d="M4.001 6.00098L0 12.001H2L6.001 6.00098L2 -2.38419e-05H0L4.001 6.00098Z" fill="currentColor"/>
            </svg>
          </span>
        </a>
    </a>
    <div class="js-mobile-nav fixed xl:hidden xl:p-0 z-40 w-full top-0 left-0 transform mt-8 scale-95 p-8 pointer-events-none opacity-0 xl:static xl:transform-none invisible transition-all duration-200 linear">
        <div class="bg-white relative rounded shadow-lg p-8 xl:p-0 xl:hidden xl:bg-transparent xl:shadow-none">
            <div class="overflow-auto xl:overflow-visible js-mobile-nav-inner">
                <div class="flex items-center justify-between mb-8">
                    <a href="<%- show_lang() %>/" class="w-32 logo"><%- image_tag("img/logo.svg") %></a>
                    <a href="#" class="js-mobile-nav-trigger-close">
                        <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect x="1.5752" y="0.368273" width="22" height="1" rx="0.5" transform="rotate(45 1.5752 0.368273)" fill="#090909"/> <rect x="0.868164" y="15.9246" width="22" height="1" rx="0.5" transform="rotate(-45 0.868164 15.9246)" fill="#090909"/> </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="js-backdrop bg-black bg-opacity-25 h-screen fixed w-screen top-0 left-0 z-10 pointer-events-none invisible opacity-0 transition-all duration-200 linear"></div>
</header>
