<!-- The main content area -->
<main id="main" role="main">

	<!-- ABOUT-MISSION -->
	<section class="pt-16 xl:pt-40">
		<div class="max-w-screen-2xl mx-auto px-4 lg:px-12 xl:px-20">
			<div class="text-center">
				<h1 class="text-center font-display text-6xl font-medium xl:text-7xl 2xl:text-8xl"><%- __('site.about.intro.title') %></h1>
				<p class="max-w-screen-lg lg:px-48 mx-auto text-gray-600 mt-12 2xl:mt-40 text-xl 2xl:text-4xl font-display font-normal leading-normal"><%- __('site.about.intro.description') %></p>
			</div>
		</div>
	</section>
	<!-- END-ABOUT-MISSION -->


	<!-- ABOUT-PRINCIPLES -->
	<section class="mt-64" id="our-principles">
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-12 xl:px-20">
			<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl"><%- __('site.about.principles.title') %></h3>
			<p class="max-w-6xl text-gray-600 mt-8 text-lg 2xl:text-3xl font-display font-medium leading-normal"><%- __('site.about.principles.description') %></p>
			<ul class="grid sm:grid-cols-2 gap-24 xl:gap-48 list-roman mt-40 pl-20 xl:pl-12">
				<li class="text-gray-200 pl-4 xl:pl-12 text-2xl 2xl:text-5xl">
					<h4 class="mb-8 text-2xl xl:text-4xl font-display text-gray-900" data-roman="I"><%- __('site.about.principles.principle-1.title') %></h4>
					<p class="text-gray-900 text-lg 2xl:text-xl"><%- __('site.about.principles.principle-1.description') %></p>
				</li class="text-gray-200">
				<li class="text-gray-200 pl-4 xl:pl-12 text-2xl 2xl:text-5xl">
					<h4 class="mb-8 text-2xl xl:text-4xl font-display text-gray-900" data-roman="II"><%- __('site.about.principles.principle-2.title') %></h4>
					<p class="text-gray-900 text-lg 2xl:text-xl"><%- __('site.about.principles.principle-2.description') %></p>
				</li class="text-gray-200">
				<li class="text-gray-200 pl-4 xl:pl-12 text-2xl 2xl:text-5xl">
					<h4 class="mb-8 text-2xl xl:text-4xl font-display text-gray-900" data-roman="III"><%- __('site.about.principles.principle-3.title') %></h4>
					<p class="text-gray-900 text-lg 2xl:text-xl"><%- __('site.about.principles.principle-3.description') %></p>
				</li class="text-gray-200">
				<li class="text-gray-200 pl-4 xl:pl-12 text-2xl 2xl:text-5xl">
					<h4 class="mb-8 text-2xl xl:text-4xl font-display text-gray-900" data-roman="IV"><%- __('site.about.principles.principle-4.title') %></h4>
					<p class="text-gray-900 text-lg 2xl:text-xl"><%- __('site.about.principles.principle-4.description') %></p>
				</li class="text-gray-200">
				<li class="text-gray-200 pl-4 xl:pl-12 text-2xl 2xl:text-5xl">
					<h4 class="mb-8 text-2xl xl:text-4xl font-display text-gray-900" data-roman="V"><%- __('site.about.principles.principle-5.title') %></h4>
					<p class="text-gray-900 text-lg 2xl:text-xl"><%- __('site.about.principles.principle-5.description') %></p>
				</li class="text-gray-200">
				<li class="text-gray-200 pl-4 xl:pl-12 text-2xl 2xl:text-5xl">
					<h4 class="mb-8 text-2xl xl:text-4xl font-display text-gray-900" data-roman="VI"><%- __('site.about.principles.principle-6.title') %></h4>
					<p class="text-gray-900 text-lg 2xl:text-xl"><%- __('site.about.principles.principle-6.description') %></p>
				</li class="text-gray-200">
				<li class="text-gray-200 pl-4 xl:pl-12 text-2xl 2xl:text-5xl">
					<h4 class="mb-8 text-2xl xl:text-4xl font-display text-gray-900" data-roman="VII"><%- __('site.about.principles.principle-7.title') %></h4>
					<p class="text-gray-900 text-lg 2xl:text-xl"><%- __('site.about.principles.principle-7.description') %></p>
				</li class="text-gray-200">
				<li class="text-gray-200 pl-4 xl:pl-12 text-2xl 2xl:text-5xl">
					<h4 class="mb-8 text-2xl xl:text-4xl font-display text-gray-900" data-roman="VIII"><%- __('site.about.principles.principle-8.title') %></h4>
					<p class="text-gray-900 text-lg 2xl:text-xl"><%- __('site.about.principles.principle-8.description') %></p>
				</li class="text-gray-200">
				<li class="text-gray-200 pl-4 xl:pl-12 text-2xl 2xl:text-5xl">
					<h4 class="mb-8 text-2xl xl:text-4xl font-display text-gray-900" data-roman="IX"><%- __('site.about.principles.principle-9.title') %></h4>
					<p class="text-gray-900 text-lg 2xl:text-xl"><%- __('site.about.principles.principle-9.description') %></p>
				</li class="text-gray-200">
				<li class="text-gray-200 pl-4 xl:pl-12 text-2xl 2xl:text-5xl">
					<h4 class="mb-8 text-2xl xl:text-4xl font-display text-gray-900" data-roman="X"><%- __('site.about.principles.principle-10.title') %></h4>
					<p class="text-gray-900 text-lg 2xl:text-xl"><%- __('site.about.principles.principle-10.description') %></p>
				</li class="text-gray-200">
			</div>
		</div>
	</section>
	<!-- END-ABOUT-PRINCIPLES -->

	<!-- ABOUT-HOW-WE-WORK -->
	<section class="bg-blue-gray-light mt-64" id="how-we-work">
		<div class="max-w-screen-2xl mx-auto px-12 py-40 2xl:py-64 lg:px-12 xl:px-20">
			<h3 class="font-display text-4xl xl:text-6xl"><%- __('site.about.how-we-work.title') %></h3>
			<p class="text-gray-600 mt-8 text-lg 2xl:text-3xl font-display font-medium leading-normal"><%- __('site.about.how-we-work.description') %></p>
		</div>
	</section>
	<!-- END-ABOUT-CHAT -->

</main>
