<!-- The main content area -->
<main id="main" role="main" class="overflow-hidden">

    <section class="pt-16 lg:pt-0">
        <div class="max-w-screen-2xl mx-auto lg:px-12">
      <div class="grid lg:grid-cols-2">
        <div class="relative p-24 pb-0 self-center text-center xs:p-6">
          <span class="bg-white w-screen absolute -z-1 right-0 h-full"></span>
          <div class="">
            <p><%- __('site.get.download') %></p>
            <h1 class="leading-tight font-display text-6xl font-medium xl:text-7xl 2xl:text-8xl"><%- __('site.get.mobile.title') %></h1>
          </div>
          <p class="text-2xl text-center mt-2 lg:px-20"><%- __('site.get.mobile.description') %></p>
          <div class="flex items-center justify-center mt-12 mb-12">
            <a href="<%- get_build_url('official', 'APPSTORE') %>" id="official:ios" class="app-download"><%- image_tag("/img/app-store.svg") %></a>
            <a href="<%- get_build_url('official', 'PLAYSTORE') %>" id="official:apk" class="ml-8 xs:ml-4 app-download"><%- image_tag("/img/google-play.svg") %></a>
            <a href="<%- get_build_url('official', 'DIRECT_APK') %>" id="official:apk" class="ml-8 xs:ml-4 app-download"><%- image_tag("/img/apk.svg") %></a>
            <a href="<%- get_build_url('official', 'F_DROID') %>" id="official:fdroid" class="ml-8 xs:ml-4 app-download"><%- image_tag("/img/fdroid.svg") %></a>
          </div>
          <div class="mt-24 -mb-64">
            <div class="w-2/3 mx-auto">
              <%- image_tag("/img/teaser-image-installpage.png") %>
            </div>
          </div>
        </div>
        <div class="bg-primary-base relative md:mt-0 p-24 pb-0 text-white xs:p-6">
          <span class="bg-primary-base w-screen absolute -z-1 left-0 h-full top-0"></span>
          <div class="md:mt-0 mx-auto flex flex-col justify-start items-center text-center">
              <div class="">
                <p><%- __('site.get.download') %></p>
                <h1 class="leading-tight font-display text-6xl font-medium xl:text-7xl 2xl:text-8xl"><%- __('site.get.desktop.title') %></h1>
            </div>
            <p class="text-2xl text-center mt-2 lg:px-20">
              <%- __('site.get.desktop.description') %>
            </p>
            <div class="flex items-center justify-center -ml-12 mt-12 mb-12">
              <a href="<%- get_build_url('official', 'DIRECT_MAC') %>" id="official:mac" target="_blank" class="app-download ml-12 text-lg 2xl:text-xl flex md:inline-flex font-special transition-all duration-200 linear font-bold py-3 px-6 font-bold text-center border border-black bg-black rounded text-white hover:opacity-75">
                <%- image_tag("/img/apple-white-logo.svg") %>
                <span class="ml-4">Mac</span>
              </a>
              <a href="<%- get_build_url('official', 'DIRECT_WIN') %>" id="official:win" target="_blank" class="app-download ml-12 text-lg 2xl:text-xl flex md:inline-flex font-special transition-all duration-200 linear font-bold py-3 px-6 font-bold text-center border border-black bg-black rounded text-white hover:opacity-75">
                <%- image_tag("/img/windows-white-logo.svg") %>
                <span class="ml-4">Windows</span>
              </a>
              <a href="<%- get_build_url('official', 'DIRECT_NIX') %>" id="official:nix" target="_blank" class="app-download ml-12 text-lg 2xl:text-xl flex md:inline-flex font-special transition-all duration-200 linear font-bold py-3 px-6 font-bold text-center border border-black bg-black rounded text-white hover:opacity-75">
                <%- image_tag("/img/linux-white-logo.svg") %>
                <span class="ml-4">Linux</span>
              </a>
            </div>
            <p class="text-xl text-center italic mt-2 lg:px-20">
              <a href="/user_guides/desktop_beta_install.html">
                <!--<%- __('site.get.desktop.instructions') %>-->
                <br>
              </a>
            </p>
            <div class="mt-16 mx-auto text-center -mb-16 lg:-mb-64">
              <%- image_tag("/img/desktop-app-laptop.png") %>
            </div>
          </div>
        </div>
      </div>  
    </div>
    </section>

    <!--HOME-NETWORK-->
	<section>
		<div class="max-w-screen-2xl mx-auto lg:py-48 lg:px-20">
			<div class="grid md:grid-cols-1">
				<div class="flex flex-col justify-center text-white lg:xl-48 px-8 items-center py-32 bg-primary-base">
					<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl text-center"><%- __('site.home.status-network.title') %></h3>
					<p class="text-primary-200 font-thin text-lg 2xl:text-2xl max-w-screen-md px-12 text-center pt-12"><%- __('site.home.status-network.description') %></p>
					<a href="mailto:contact@gizli.in" target="_blank" class="group inline-flex group items-center text-white text-lg 2xl:text-2xl font-semibold font-special mt-12">
						<%- __('site.home.status-network.link') %>
						<span class="ml-4 group-hover:translate-x-1 transform transition-all duration-200 linear"><%- image_tag('/img/icon-arrow-right-white.svg') %></span>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!--END-HOME-NETWORK-->

</main> 
