<!-- The main content area -->
<main id="main" role="main" class="overflow-hidden">
	<!--MESSENGER-INTRO-->
	<section class="pt-16 xl:pt-0">
		<div class="max-w-screen-2xl mx-auto lg:px-12">
			<div class="grid md:grid-cols-2">
				<div class="relative px-8 self-center xl:mb-32">
					<h1 class="leading-tight font-display text-6xl font-medium xl:text-7xl 2xl:text-8xl"><%- __('site.messenger.intro.title') %></h1>
					<p class="text-gray-600 mt-12 mb-16 text-xl 2xl:text-4xl font-display font-normal leading-normal">
						<%- __('site.messenger.intro.description') %>
					</p>
				</div>
				<div class="relative mt-24 md:mt-0">
					<div class="md:-mt-24 mx-auto -ml-12 -mr-12 md:ml-0 md:mr-0 flex justify-center items-center md:pt-20 relative">
						<div class="relative max-w-2xl lg:max-w-6xl">
							<%- image_tag("/img/messenger-intro.png", { srcset: '/img/messenger-intro-2x.png 2x'}) %>
							<div class="absolute flex text-white items-center justify-between privacy-first-step-1">
								<div class="flex text-white w-full items-center justify-between">
									<b>1ßI30#{%3</b>
									<time class="text-base">9:40 AM</time>
									<div class="lock relative">
										<%- image_tag("/img/private-and-secure-lock-bottom.svg") %>
										<%- image_tag("/img/private-and-secure-lock-top.svg", {class: 'absolute top-0'}) %>
									</div>
								</div>
							</div>
							<div class="absolute flex text-white items-center justify-between privacy-first-step-2 opacity-0">
								<div class="flex text-black w-full items-center justify-between">
									<p>thx! meet me there at 8pm???</p>
									<time class="text-base">9:40 AM</time>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--END-MESSENGER-INTRO-->
	<!--MESSENGER-MESSAGE-->
	<section class="text-white relative z-10 bg-black">
		<div class="max-w-screen-2xl mx-auto lg:px-12">
			<div class="grid md:grid-cols-2 gap-24">
				<div class="px-8">
					<div class="mx-auto flex justify-center items-center md:block md:py-48 pb-12">
						<%- image_tag("/img/messenger-message.png", { srcset: '/img/messenger-message-2x.png 2x'}) %>
					</div>
				</div>
				<div class="flex flex-col px-8 order-first md:order-last justify-center items-start md:pt-0 pt-32">
					<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl"><%- __('site.messenger.message.title') %></h3>
					<p class="text-gray-300 mt-12 text-xl font-display font-medium leading-normal"><%- __('site.messenger.message.description') %></p>
				</div>
			</div>
		</div>
	</section>
	<!--END-MESSENGER-MESSAGE-->
	<!--MESSENGER-PAYMENTS-AND-STICKERS-->
	<section>
		<div class="max-w-screen-2xl mx-auto lg:px-12">
			<div class="grid md:grid-cols-2 gap-24">
				<div class="flex flex-col px-8 justify-center items-start md:pt-0 pt-32">
					<div class="mx-auto flex justify-center items-center md:block pb-16 md:pt-48">
						<%- image_tag("/img/screen-conference.png", { srcset: '/img/screen-conference.png 2x'}) %>
					</div>
					<h3 class="font-display text-4xl mt-12 xl:text-5xl 2xl:text-6xl"><%- __('site.messenger.payments.title') %></h3>
					<p class="text-gray-600 mt-12 text-xl font-display font-medium leading-normal"><%- __('site.messenger.payments.description') %></p>
				</div>
				<div class="px-8 mb-24 md:mb-0">
					<div class="mx-auto flex justify-center items-center md:block pb-16 md:pt-48">
						<%- image_tag("/img/messenger-stickers.png", { srcset: '/img/messenger-stickers-2x.png 2x'}) %>
					</div>
					<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl"><%- __('site.messenger.stickers.title') %></h3>
					<p class="text-gray-600 mt-12 text-xl font-display font-medium leading-normal"><%- __('site.messenger.stickers.description') %></p>
					<a href="/" target="_blank" class="inline-flex mt-16 items-center font-special font-semibold text-primary-base hover:text-primary-900 group">
	                  	<span></br></span>
	                  	<span></br></span>
                  	</a>
				</div>
			</div>
		</div>
	</section>
	<!--END-MESSENGER-PAYMENTS-AND-STICKERS-->
	<!--MESSENGER-IDEA-->
	<section>
		<div class="max-w-screen-2xl mx-auto lg:py-48 lg:px-20">
			<div class="grid md:grid-cols-1">
				<div class="flex flex-col justify-center text-white lg:xl-48 px-8 items-center py-32 bg-primary-base">
					<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl text-center"><%- __('site.messenger.idea.title') %></h3>
					<p class="text-primary-200 font-thin text-xl max-w-screen-md px-12 text-center pt-12"><%- __('site.messenger.idea.description') %></p>
					<a href="mailto:contact@gizli.in" target="_blank" class="group inline-flex group items-center text-white font-semibold font-special mt-12">
						<%- __('site.messenger.idea.link') %>
						<span class="ml-4 group-hover:translate-x-1 transform transition-all duration-200 linear"><%- image_tag('/img/icon-arrow-right-white.svg') %></span>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!--END-MESSENGER-IDEA-->
	<!--MESSENGER-BENEFITS-->
	<section class="pb-32 lg:pb-48 pt-32 lg:pt-0">
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-20">
			<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl"><%- __('site.messenger.benefits.title') %></h3>
			<ul class="grid md:grid-cols-3 mt-16 gap-24">
				<li class="text-gray-200 text-2xl xl:text-5xl flex items-start">
					<%- image_tag('/img/messenger-benefit-1.svg') %>
					<div class="ml-8">
						<h4 class="mb-12 text-2xl xl:text-4xl font-display text-gray-900"><%- __('site.messenger.benefits.benefit-1.title') %></h4>
						<p class="text-gray-900 text-xl"><%- __('site.messenger.benefits.benefit-1.description') %></p>
					</div>
				</li>
				<li class="text-gray-200 text-2xl xl:text-5xl flex items-start">
					<%- image_tag('/img/messenger-benefit-2.svg') %>
					<div class="ml-8">
						<h4 class="mb-12 text-2xl xl:text-4xl font-display text-gray-900"><%- __('site.messenger.benefits.benefit-2.title') %></h4>
						<p class="text-gray-900 text-xl"><%- __('site.messenger.benefits.benefit-2.description') %></p>
					</div>
				</li>
				<li class="text-gray-200 text-2xl xl:text-5xl flex items-start">
					<%- image_tag('/img/messenger-benefit-3.svg') %>
					<div class="ml-8">
						<h4 class="mb-12 text-2xl xl:text-4xl font-display text-gray-900"><%- __('site.messenger.benefits.benefit-3.title') %></h4>
						<p class="text-gray-900 text-xl"><%- __('site.messenger.benefits.benefit-3.description') %></p>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!--END-MESSENGER-BENEFITS-->
	<!--MESSENGER-PEER-TO-PEER-->
	<section class="text-white relative z-10 bg-black overflow-hidden">
		<div class="max-w-screen-2xl mx-auto lg:px-12">
			<div class="grid md:grid-cols-2 gap-24">
				<div class="flex flex-col px-8 justify-center items-start md:pt-0 pt-32">
					<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl"><%- __('site.messenger.p2p.title') %></h3>
					<p class="text-gray-300 mt-12 text-xl font-display font-medium leading-normal"><%- __('site.messenger.p2p.description') %></p>
					<div class="flex">
<!-- 						<a href="https://specs.status.im/spec/10" target="_blank" class="transition-all duration-200 linear group py-4 px-6 flex md:inline-flex justify-between items-center mt-12 border font-special font-semibold hover:bg-black hover:text-white text-black rounded border-white bg-white text-lg"> -->
<!-- 							<%- __('site.messenger.p2p.button') %> -->
<!-- 							<span class="ml-4 group-hover:translate-x-1 transform transition-all duration-200 linear"><img src="/img/icon-arrow-right.svg"></span> -->
<!-- 						</a> -->
<!-- 						<a href="https://our.status.im/peer-to-peer-messaging-where-whisper-falls-short-and-waku-picks-up/" target="_blank" class="transition-all duration-200 linear group py-4 px-6 flex md:inline-flex justify-between items-center mt-12 border font-special font-semibold hover:bg-white hover:text-black rounded border-white text-lg ml-8"> -->
<!-- 							<%- __('site.link.learn-more') %> -->
<!-- 							<span class="ml-4 group-hover:translate-x-1 transform transition-all duration-200 linear"><img src="/img/icon-arrow-right-white.svg"></span> -->
<!-- 						</a> -->
					</div>
				</div>
				<div class="px-8">
					<div class="mx-auto flex justify-center items-center md:block">
						<video width="773" height="953" class="hidden max-w-none md:block" autoplay muted loop>
							<source src="/video/messenger-p2p.webm" type="video/webm">
							<source src="/video/messenger-p2p.mp4" type="video/mp4">
						</video>
						<%- image_tag("/img/messenger-p2p.png", { srcset: '/img/messenger-p2p-2x.png 2x', class: 'block ml-auto mb-24 mr-auto md:hidden'}) %>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--END-MESSENGER-PEER-TO-PEER-->
	<!--MESSENGER-ENCRYPTION-AND-PROTECTION-->
	<section>
		<div class="max-w-screen-2xl mx-auto lg:px-12">
			<div class="grid md:grid-cols-2 gap-24">
				<div class="flex flex-col px-8 justify-center items-start md:pt-0 pt-32">
					<div class="relative md:-mb-32 h-64 mt-auto w-full">
						<div class="absolute inset-0 flex items-center justify-center">
							<%- image_tag("/img/private-and-secure-bg.png", { srcset: '/img/private-and-secure-bg-2x.png 2x'}) %>
						</div>
						<div class="absolute inset-0 flex items-center justify-center private-and-secure">
							<div class="flex">
								<div class="flex mr-6 items-end relative">
									<div class="relative flex">
										<%- image_tag("/img/private-and-secure-avatar.png", { srcset: '/img/private-and-secure-avatar-2x.png 2x', class: 'avatar relative z-20'}) %>
										<div class="absolute inset-0 flex items-center justify-center key z-index: 10 opacity-0">
											<%- image_tag("/img/private-and-secure-key.svg") %>
										</div>
									</div>
								</div>
								<div class="inner relative">
									<div class="description py-6">
										<p class="max-w-6xl text-black-600 md:text-4xl text-1xl font-display leading-snug px-12">hey, what is everyone up to <br class="hidden md:inline">this long weekend?</p>
									</div>
									<div class="overlay h-full w-full justify-between px-16 items-center flex bg-black top-0 absolute">
										<div class="text-white bold md:text-4xl text-1xl">1ßI30#{%3</div>
										<div class="lock relative">
											<%- image_tag("/img/private-and-secure-lock-bottom.svg") %>
											<%- image_tag("/img/private-and-secure-lock-top.svg", {class: 'absolute top-0'}) %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<h3 class="font-display text-4xl mt-auto mt-12 xl:text-5xl 2xl:text-6xl"><%- __('site.messenger.encryption.title') %></h3>
					<p class="text-gray-600 mt-12 mb-20 text-xl font-display font-medium leading-normal"><%- __('site.messenger.encryption.description') %></p>
				</div>
				<div class="flex flex-col px-8 justify-center items-start md:pt-0 pb-32 md:pb-0">
					<div class="mx-auto flex justify-center items-center md:block pb-16 md:pt-48">
						<%- image_tag("/img/messenger-protection.png", { srcset: '/img/messenger-protection-2x.png 2x'}) %>
					</div>
					<h3 class="font-display text-4xl mt-12 xl:text-5xl 2xl:text-6xl"><%- __('site.messenger.protection.title') %></h3>
					<p class="text-gray-600 mt-12 text-xl font-display font-medium leading-normal"><%- __('site.messenger.protection.description') %></p>
					<a href="https://our.status.im/the-life-of-a-message/" target="_blank" class="group inline-flex group items-center text-primary-base font-semibold font-special mt-12">
						<span><br></span>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!--END-MESSENGER-ENCRYPTION-AND-PROTECTION-->
	<!--FAQ-BANNER-->
	<section>
		<div class="max-w-screen-2xl mx-auto lg:py-48 lg:px-20">
			<div class="grid md:grid-cols-1">
				<div class="flex flex-col justify-center text-white lg:xl-48 px-8 items-center py-32 bg-primary-base">
					<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl text-center"><%- __('site.home.status-network.title') %></h3>
					<p class="text-primary-200 font-thin text-lg 2xl:text-2xl max-w-screen-md px-12 text-center pt-12"><%- __('site.home.status-network.description') %></p>
					<a href="mailto:contact@gizli.in" target="_blank" class="group inline-flex group items-center text-white text-lg 2xl:text-2xl font-semibold font-special mt-12">
						<%- __('site.home.status-network.link') %>
						<span class="ml-4 group-hover:translate-x-1 transform transition-all duration-200 linear"><%- image_tag('/img/icon-arrow-right-white.svg') %></span>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!--END-FAQ-BANNER-->
</main>