<!-- The main content area -->
<main id="main" role="main">

	<!-- SECURITY -->
	<section class="pt-24 xl:pt-64">

		<div class="max-w-screen-xl px-8 lg:px-20">
			<div class="grid grid-cols-12">
				<div class="col-span-12 lg:col-span-8">
					<h1 class="font-display text-6xl font-medium xl:text-7xl 2xl:text-8xl"><%- __('site.security.intro.title') %></h1>
					<p class="text-gray-600 mt-12 text-lg 2xl:text-4xl font-display font-normal leading-normal"><%- __('site.security.intro.description-1') %></p>
					<p class="text-gray-600 mt-12 text-lg 2xl:text-4xl font-display font-normal leading-normal"><%- __('site.security.intro.description-2') %></p>
				</div>
			</div>
		</div>
    <div class="custom-article">
  		<div class="max-w-screen-xl mt-20 lg:mt-64 px-8 lg:px-20">
  			<h2><%- __('site.security.security-at-status.title') %></h2>
  			<div class="grid lg:grid-cols-3 gap-12 lg:gap-24 mt-12 lg:mt-32">
  				<div>
  					<h4><%- __('site.security.security-at-status.secure-inner-1.title') %></h4>
  					<p><%- __('site.security.security-at-status.secure-inner-1.description') %></p>
  				</div>
  				<div>
  					<h4><%- __('site.security.security-at-status.secure-inner-2.title') %></h4>
  					<p><%- __('site.security.security-at-status.secure-inner-2.description') %></p>
  				</div>
  				<div>
  					<h4><%- __('site.security.security-at-status.secure-inner-3.title') %></h4>
  					<p><%- __('site.security.security-at-status.secure-inner-3.description') %></p>
  				</div>
  			</div>
  		</div>

  		<div class="max-w-screen-xl px-8 lg:px-20 mt-20">
  			<h3><%- __('site.security.security-content.content-3.title') %></h3>
  			<p><%- __('site.security.security-content.content-3.description') %></p>
  			<h3><%- __('site.security.security-content.content-4.title') %></h3>
  			<p><%- __('site.security.security-content.content-4.description') %></p>
  			<h3><%- __('site.security.security-content.content-5.title') %></h3>
  			<p><%- __('site.security.security-content.content-5.description') %></p>
  			<h3><%- __('site.security.security-content.content-10.title') %></h3>
  			<p><%- __('site.security.security-content.content-10.description-1') %></p>

      </div>
    </div>

		<div class="max-w-screen-xl px-8 lg:px-20 mt-20 lg:mt-64">
			<div class="grid lg:grid-cols-2 lg:gap-24">
				<div>
					<h2 class="font-display text-4xl xl:text-5xl 2xl:text-6xl"><%- __('site.security.protect-yourself.title') %></h3>
					<p class="mt-16 text-gray-600 text-lg 2xl:text-2xl font-display font-normal leading-normal"><%- __('site.security.protect-yourself.description') %></p>
					<ul class="list-none flex flex-col lg:flex-row text-lg 2xl:text-xl font-bold lg:items-center -ml-16 mt-4">
						<li class="ml-16 mt-12">
            </li>
						<li class="ml-16 mt-12">
            </li>
					</ul>
				</div>
				<div class="bg-primary-base px-8 py-20 mt-20 lg:mt-0 lg:p-20 text-white -mr-8 -ml-8 lg:mx-0 lg:mb-64">
					<h2 class="font-display text-4xl xl:text-5xl 2xl:text-6xl"><%- __('site.features.get.title') %></h2>
					<p class="mt-16 text-primary-300 text-lg 2xl:text-2xl font-display font-normal leading-normal"><%- __('site.features.get.description') %></p>
					<a href="<%- show_lang() %>/get/" class="font-semibold group flex lg:inline-flex items-center hover:bg-white hover:text-primary-base transition-all duration-200 linear text-lg 2xl:text-xl mt-16 border border-white text-white py-3 px-6 rounded font-special">
            <%- __('site.features.get.link') %>
            <span class="ml-4 group-hover:translate-x-1 transform transition-all duration-200 linear"><%- image_tag('/img/icon-arrow-right.svg') %></span>
          </a>
				</div>
				</div>
			</div>
    </div>

	</section>
	<!-- END-SECURITY -->

</main>
